#New{
    display: inline-block;
}


@media screen and (min-width: 960px) {
    .Tournament_Draw{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
        .main_contents{
            
            .New_child_event{
                margin: 20px;
                padding: 20px 10px;    
                background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);

                .title{
                    font-size: 18px;
                    font-weight: 600;
                }
                .about{
                    font-size: 14px;
                    margin: 5px 0;

                    .about_value{
                        margin: 0 10px;
                        padding: 5px;

                        form{
                            display: flex;
                            flex-wrap: wrap;

                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 600;
                            }
                            input[type='text']{
                                width: 50%;
                                padding: 5px;
                                margin: 5px;
                            }
                            select{
                                width: 300px;
                                padding: 5px;
                                margin: 5px;
                            }
                            input[type='number']{
                                width: 100px;
                                padding: 5px;
                                margin: 5px;
                            }
                            .submit_wrap{
                                width: 100%;
                                margin: 5px;
                                margin-top: 20px;

                                input[type='submit']{
                                    padding: 5px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 959px) and (min-width: 440px) {
    .Tournament_Draw{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
        .main_contents{
            
            .New_child_event{
                margin: 20px 10px;
                padding: 20px 10px;    
                background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);

                .title{
                    font-size: 18px;
                    font-weight: 600;
                }
                .about{
                    font-size: 14px;
                    margin: 5px 0;

                    .about_value{
                        margin: 0 10px;
                        padding: 5px;

                        form{
                            display: flex;
                            flex-wrap: wrap;

                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 600;
                            }
                            input[type='text']{
                                width: 70%;
                                padding: 5px;
                                margin: 5px;
                            }
                            select{
                                width: 300px;
                                padding: 5px;
                                margin: 5px;
                            }
                            input[type='number']{
                                width: 100px;
                                padding: 5px;
                                margin: 5px;
                            }
                            .submit_wrap{
                                width: 100%;
                                margin: 5px;
                                margin-top: 20px;

                                input[type='submit']{
                                    padding: 5px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 439px) {
    .Tournament_Draw{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
        .main_contents{
            
            .New_child_event{
                margin: 20px 5px;
                padding: 20px 10px;    
                background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);

                .title{
                    font-size: 18px;
                    font-weight: 600;
                }
                .about{
                    font-size: 14px;
                    margin: 5px 0;

                    .about_value{
                        margin: 0 10px;
                        padding: 5px;

                        form{
                            display: flex;
                            flex-wrap: wrap;

                            label{
                                width: 100%;
                                font-size: 16px;
                                font-weight: 600;
                            }
                            input[type='text']{
                                width: 100%;
                                padding: 5px;
                                margin: 5px;
                            }
                            select{
                                width: 100%;
                                padding: 5px;
                                margin: 5px;
                            }
                            input[type='number']{
                                width: 100px;
                                padding: 5px;
                                margin: 5px;
                            }
                            .submit_wrap{
                                width: 100%;
                                margin: 5px;
                                margin-top: 20px;

                                input[type='submit']{
                                    padding: 5px 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}