.OOP{
    width: 100%;

    .page_title{
        padding: 10px 20px;
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
    }
    .wrap{
        display: flex;

        .main{
            width: 80%;

            .courts{
                width: 100%;

                .venue_name{
                    width: calc(100% - 40px);
                    margin: 10px;
                    padding: 10px;
                    font-size: 20px;
                    font-weight: 600;
                }
                
                .court_wrap{
                    display: flex;
                    flex-wrap: wrap;
                    width: 100%;

                    .court{
                        display: flex;
                        flex-wrap: wrap;
                        width: calc(25% - 1px);
                        border: 0.5px solid #ccc;

                        .court_name{
                            width: calc(100% - 10px);
                            text-align: center;
                            background: linear-gradient(to bottom, #F5F5F5, #E8E8E8, #DADADA, #E0E0E0);
                            padding: 5px;
                        }
                        .oop_card_wrap{
                            display: flex;
                            flex-wrap: wrap;
                            width: 100%;

                            .oop_card{
                                width: 100%;

                                .game_card{
                                    position:relative;
                                    color: rgba(0, 0, 0, 0.7);
                                    margin: 5px;
                                    border: 0.5px solid #000;

                                    .cxl{
                                        color:#ccc;
                                        position: absolute;
                                        top: 3px;
                                        left:10px;
                                        cursor: pointer;
                                        transition: 0.3s;
                                    }

                                    .result{
                                        color:#ccc;
                                        position: absolute;
                                        bottom: 3px;
                                        right:10px;
                                        cursor: pointer;
                                        transition: 0.3s;
                                        z-index: 99;
                                    }

                                    .up{
                                        color:#ccc;
                                        position: absolute;
                                        top: 3px;
                                        right:10px;
                                        cursor: pointer;
                                        transition: 0.3s;
                                        z-index: 99;
                                    }

                                    .cxl:hover{
                                        color: red;
                                    }
                                    
                                    .result:hover,.up:hover{
                                        color: blue;
                                    }

                                    .event_section{
                                        text-align: center;
                                        padding: 5px;
                                        border-bottom: 0.5px solid #ccc;

                                        .child_event{
                                            font-size: 12px;
                                            white-space:nowrap;
                                            overflow:hidden;
                                            text-overflow:ellipsis;
                                        }
                                        .round{
                                            font-size: 12px;
                                        }
                                    }

                                    .player_section{
                                        text-align: center;
                                        height: 130px;

                                        .wrap{
                                            padding: 5px;
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;

                                            .draw_number{
                                                text-align: center;
                                                width: 20px;
                                                font-size: 12px;
                                            }

                                            .wrap_2{
                                                width: calc(100% - 30px);
                                                display: flex;
                                                flex-wrap: wrap;

                                                .player,.belonging{
                                                    width: calc(100% - 10px);
                                                    padding: 0 5px;
                                                    font-size: 12px;
                                                    white-space:nowrap;
                                                    overflow:hidden;
                                                    text-overflow:ellipsis;
                                                }
                                            }
                                            .vs{
                                                padding: 2.5px;
                                                font-size: 12px;
                                            }
                                        }
                                    }
                                    .menu_section{
                                        display: flex;
                                        flex-wrap: wrap;
                                        align-items: center;
                                        text-align: center;
                                        height: 130px;

                                        .wrap{
                                            padding: 5px;
                                            display: flex;
                                            flex-wrap: wrap;
                                            align-items: center;

                                            .winner{
                                                text-align: center;
                                                width: 20px;
                                                font-size: 12px;
                                            }

                                            .tiebreak{
                                                width: 100%;
                                                display: flex;
                                                align-items: center;
                                                justify-content: space-between;

                                                .tb_wrap{
                                                    input[type='checkbox']{
                                                        padding: 3px;
                                                    }
                                                    span{
                                                        font-size: 12px;
                                                        padding: 3px;
                                                    }
                                                }
                                                .submit_wrap{
                                                    input[type='submit']{
                                                        position: relative;
                                                        z-index: 999;
                                                        padding: 3px;
                                                        font-size: 12px;
                                                    }
                                                }
                                            }

                                            .wrap_2{
                                                width: calc(80% - 20px);
                                                display: flex;
                                                flex-wrap: wrap;
    
                                                .player,.belonging{
                                                    width: calc(100% - 10px);
                                                    padding: 0 5px;
                                                    font-size: 12px;
                                                    white-space:nowrap;
                                                    overflow:hidden;
                                                    text-overflow:ellipsis;
                                                }
                                            }
                                            .wrap_3{
                                                width: calc(20% - 20px);

                                                input[type="text"]{
                                                    text-align: center;
                                                    width: 100%;
                                                    padding: 5px;
                                                    font-size: 14px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }
        .suggest{
            width: 20%;
            background-color: aquamarine;
        }
    }
    
}

.win{
    background-color: hsl(39, 100%, 70%);
}