.OOP {
  width: 100%;
}

.OOP .page_title {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
}

.OOP .wrap {
  display: flex;
}

.OOP .wrap .main {
  width: 80%;
}

.OOP .wrap .main .courts {
  width: 100%;
}

.OOP .wrap .main .courts .venue_name {
  width: calc(100% - 40px);
  margin: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 600;
}

.OOP .wrap .main .courts .court_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.OOP .wrap .main .courts .court_wrap .court {
  display: flex;
  flex-wrap: wrap;
  width: calc(25% - 1px);
  border: 0.5px solid #ccc;
}

.OOP .wrap .main .courts .court_wrap .court .court_name {
  width: calc(100% - 10px);
  text-align: center;
  background: linear-gradient(to bottom, #F5F5F5, #E8E8E8, #DADADA, #E0E0E0);
  padding: 5px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card {
  width: 100%;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card {
  position: relative;
  color: rgba(0, 0, 0, 0.7);
  margin: 5px;
  border: 0.5px solid #000;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .cxl {
  color: #ccc;
  position: absolute;
  top: 3px;
  left: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .result {
  color: #ccc;
  position: absolute;
  bottom: 3px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 99;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .up {
  color: #ccc;
  position: absolute;
  top: 3px;
  right: 10px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 99;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .cxl:hover {
  color: red;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .result:hover, .OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .up:hover {
  color: blue;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .event_section {
  text-align: center;
  padding: 5px;
  border-bottom: 0.5px solid #ccc;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .event_section .child_event {
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .event_section .round {
  font-size: 12px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section {
  text-align: center;
  height: 130px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section .wrap {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section .wrap .draw_number {
  text-align: center;
  width: 20px;
  font-size: 12px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section .wrap .wrap_2 {
  width: calc(100% - 30px);
  display: flex;
  flex-wrap: wrap;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section .wrap .wrap_2 .player, .OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section .wrap .wrap_2 .belonging {
  width: calc(100% - 10px);
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .player_section .wrap .vs {
  padding: 2.5px;
  font-size: 12px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  height: 130px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap {
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .winner {
  text-align: center;
  width: 20px;
  font-size: 12px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .tiebreak {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .tiebreak .tb_wrap input[type='checkbox'] {
  padding: 3px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .tiebreak .tb_wrap span {
  font-size: 12px;
  padding: 3px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .tiebreak .submit_wrap input[type='submit'] {
  position: relative;
  z-index: 999;
  padding: 3px;
  font-size: 12px;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .wrap_2 {
  width: calc(80% - 20px);
  display: flex;
  flex-wrap: wrap;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .wrap_2 .player, .OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .wrap_2 .belonging {
  width: calc(100% - 10px);
  padding: 0 5px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .wrap_3 {
  width: calc(20% - 20px);
}

.OOP .wrap .main .courts .court_wrap .court .oop_card_wrap .oop_card .game_card .menu_section .wrap .wrap_3 input[type="text"] {
  text-align: center;
  width: 100%;
  padding: 5px;
  font-size: 14px;
}

.OOP .wrap .suggest {
  width: 20%;
  background-color: aquamarine;
}

.win {
  background-color: #ffc966;
}
