#New{
    display: inline-block;
}

.main{
    font-family: Inter;
}

.bottom{
    border-bottom: 1px solid #000;
}

.right{
    border-right: 1px solid #000;
}

.left{
    border-left: 1px solid #000;
}
#back {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
    display: none; 
    z-index: 1; 
}

.main_contents{
    display: flex;

    .player_list{
        width: 25%;
        height: calc(100vh - 76px);
        border-right: 1px solid #000;
        padding: 20px;

        .title{
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            padding: 5px;
        }
        .List{
            height: 95%;
            margin: 3px;
            overflow-y: scroll;
            border: 1px solid #000;

            .player{
                text-align: center;
                margin: 3px;
                padding: 3px;
                border: 0.5px solid #000;
                background-color:#F5F5F5;

                .about{
                    margin: 5px 10px;
                    font-size: 14px;
                    font-weight: 600;
                }

                form{
                    margin: 5px 10px;
                    display: flex;
                    justify-content: flex-end;

                    input[type='number']{
                        width: 50px;
                        padding: 3px;
                        text-align: center;
                    }
                }
            }
        }
    }

    .tournament{
        width: calc(75% - 50px);
        height: calc(100vh - 96px);
        overflow-y: scroll;
        overflow-x: scroll;
        margin: 30px 50px;
        margin-right: 0;

        table{
            border-collapse: collapse;
            font-size: 12px;

            th,td{
                width: 90px;
                height: 30px;
                margin: 0;
                padding: 1.5px;
            }
            .player_data{
                display:inline-block;
                white-space:nowrap;
                overflow:hidden;
                text-overflow:ellipsis;
            }
            .player_section{
                width: 300px;
                display: flex;
                align-items: center;

                span{
                    margin-right: 10px;
                }
                form{

                    input[type='submit']{
                        font-size: 12px;
                        margin-right: 10px;
                        border: none;
                    }
                }
            }
        }
    }
    .RoundRobin {
        width: calc(75% - 130px);
        height: calc(100vh - 96px);
        overflow-y: scroll;
        overflow-x: auto; /* 横スクロールを有効にする */
        margin: 30px 50px;
        margin-right: 0;
        
    
        table {
            border-collapse: separate;
            font-size: 12px;
            width: 100%;
            table-layout: fixed;
        }
    
        td, th {
            width: 250px;
            height: 30px;
            margin: 0;
            padding: 10px;
            border: 0.5px solid #000;
            text-align: center;
            position: relative;
            font-weight: 400;
        }
        .Non{
            background-color: #F5F5F5;
        }
        .player_section_wrap{
            display: table-cell;

            .player_section{
                display: flex;
                align-items: center;

                .player_data{
                    white-space:nowrap;
                    overflow:scroll;
                    display: inline-block;

                }
                span{
                    display: inline;
                    margin-right: 10px;
                }
                form{
                    display: inline-block;

                    input[type='submit']{
                        font-size: 12px;
                        margin-right: 10px;
                        border: none;
                    }
                }
            }
        }
    }
    
    .button {
        position: absolute;
        width: 150px;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        border: 2px solid #000;
        cursor: pointer;
    }
    
    .delete {
        right: 40px;
        bottom: 100px;
        background-color: #ff0000;
        color: white;
    }
    
    .publish {
        right: 40px;
        bottom: 40px;
        background-color: #007bff;
        color: white;
    }

    #passwordInputContainer {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 9999; 
    }

    #password {
        width: calc(100% - 20px);
        padding: 10px;
        margin-bottom: 10px;
    }

    #confirmPassword {
        display: block;
        width: calc(100% - 20px);
        width: 100%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        cursor: pointer;
    }

}


@media screen and (min-width: 960px) {
    .Tournament_Draw{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
        
    }
}
@media screen and (max-width: 959px) and (min-width: 440px) {
    .Tournament_Draw{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
    }
}
@media screen and (max-width: 439px) {
    .Tournament_Draw{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
    }
}