@media screen and (min-width: 960px) {
  .Tournament_List {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_List .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .search_tournament {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .search_tournament .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_List .main_contents .search_tournament .wrap {
    margin: 10px;
    border: 1px solid #ccc;
  }
  .Tournament_List .main_contents .tournament_list_value {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .tournament_list_value .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap {
    margin: 10px;
    overflow-x: scroll;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table {
    border-collapse: collapse;
    font-size: 14px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th, .Tournament_List .main_contents .tournament_list_value .wrap table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:first-child, .Tournament_List .main_contents .tournament_list_value .wrap table td:first-child {
    width: 30px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) {
    width: 500px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2) a, .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) a {
    color: #0077cc;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2) a:hover, .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) a:hover {
    color: #0055aa;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(3), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(3) {
    width: 250px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(4), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(4) {
    width: 80px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(5), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(5) {
    width: 80px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(6), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(6) {
    width: 70px;
  }
}

@media screen and (max-width: 959px) and (min-width: 440px) {
  .Tournament_List {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_List .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .search_tournament {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .search_tournament .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_List .main_contents .search_tournament .wrap {
    margin: 10px;
    border: 1px solid #ccc;
  }
  .Tournament_List .main_contents .tournament_list_value {
    margin: 10px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .tournament_list_value .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap {
    margin: 10px 5px;
    overflow-x: scroll;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table {
    border-collapse: collapse;
    font-size: 14px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th, .Tournament_List .main_contents .tournament_list_value .wrap table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:first-child, .Tournament_List .main_contents .tournament_list_value .wrap table td:first-child {
    width: 30px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) {
    width: 500px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2) a, .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) a {
    color: #0077cc;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2) a:hover, .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) a:hover {
    color: #0055aa;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(3), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(3) {
    width: 250px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(4), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(4) {
    width: 80px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(5), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(5) {
    width: 80px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(6), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(6) {
    width: 70px;
  }
}

@media screen and (max-width: 439px) {
  .Tournament_List {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_List .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .search_tournament {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .search_tournament .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_List .main_contents .search_tournament .wrap {
    margin: 10px;
    border: 1px solid #ccc;
  }
  .Tournament_List .main_contents .tournament_list_value {
    margin: 5px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_List .main_contents .tournament_list_value .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap {
    margin: 10px 5px;
    overflow-x: scroll;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table {
    border-collapse: collapse;
    font-size: 14px;
    width: 100%;
    overflow-x: scroll;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th, .Tournament_List .main_contents .tournament_list_value .wrap table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:first-child, .Tournament_List .main_contents .tournament_list_value .wrap table td:first-child {
    width: 30px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) {
    width: 500px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2) a, .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) a {
    color: #0077cc;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(2) a:hover, .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(2) a:hover {
    color: #0055aa;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(3), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(3) {
    width: 250px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(4), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(4) {
    width: 80px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(5), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(5) {
    width: 80px;
  }
  .Tournament_List .main_contents .tournament_list_value .wrap table th:nth-child(6), .Tournament_List .main_contents .tournament_list_value .wrap table td:nth-child(6) {
    width: 70px;
  }
}
