body{
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}

@media screen and (min-width: 960px) {
    .main{
        width: 100vw;
    }
}
@media screen and (max-width: 959px) and (min-width: 440px) {
    body{
        width: 100vw;
    }
}
@media screen and (max-width: 439px) {
    body{
        width: 100vw;
    }
}