@media screen and (min-width: 960px) {
  .Tournament_Topics {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_Topics .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Topics .main_contents .Topics_information {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Topics .main_contents .Topics_information .title_wrap {
    font-weight: 600;
  }
  .Tournament_Topics .main_contents .Topics_information .title_wrap form {
    display: flex;
  }
  .Tournament_Topics .main_contents .Topics_information .title_wrap form .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_Topics .main_contents .Topics_information .title_wrap form .sub_title input[type='submit'] {
    padding: 5px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap {
    margin: 15px 10px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table {
    border-collapse: collapse;
    font-size: 14px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th, .Tournament_Topics .main_contents .Topics_information .wrap table td {
    border: 1px solid #ccc;
    text-align: left;
    padding: 8px;
    text-align: center;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:first-child, .Tournament_Topics .main_contents .Topics_information .wrap table td:first-child {
    width: 30px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(2), .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(2) {
    width: 500px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(2) a, .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(2) a {
    color: #0077cc;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(2) a:hover, .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(2) a:hover {
    color: #0055aa;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(3), .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(3) {
    width: 250px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(4), .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(4) {
    width: 80px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(5), .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(5) {
    width: 80px;
  }
  .Tournament_Topics .main_contents .Topics_information .wrap table th:nth-child(6), .Tournament_Topics .main_contents .Topics_information .wrap table td:nth-child(6) {
    width: 70px;
  }
}
