.main{
    font-family: Audiowide;
    min-height: 50vh;
    .tournament-name{
        display: inline-block;
        color: #fff;
        font-weight: bold;
        background-color: #000;
        margin-top: 10px;
        padding: 10px 10px;
        padding-right: 20px;
        max-width: 90%;
        border-radius: 0 20px 0px 0;   
        border-bottom: 1px solid #fff;
    }
}
.main h1{
    font-size: 100px;
}

//pc
@media screen and (min-width: 960px){
    .main{
        padding-top: 63px;
        .history-back{
            text-decoration: none;
            font-weight: bold;
            color: #000;
        }
        .history-back:hover{
            color: #aaa;
        }
        .history-back:active{
            color: #aaa;
        }
    }
    .event-selector{
                
        overflow-x: scroll;
        display: flex;
        padding: 0;
        padding-left: 10px;
        border-bottom: 1px solid #000;
        .event{
            text-decoration: none;
            color: #888;
            margin: 0;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
            white-space: nowrap;
            margin-right: 10px; /* 子要素の右側に余白を追加 */
            font-size: 12px;
            flex-shrink: 0;
            
        }
        .selected{
            color: #000;
            border-bottom: 2px solid #000;
        }
        .event:active{
            color: #aaa;
        }
    }
    .event-selector::-webkit-scrollbar{
        display: none;
    }
    .canvas-container{
        width: 100%;
        height: 80vh;
        position: relative;
        overflow-y: auto;
        #tournament{
            background-color: #eee;
            width: 100%;
            height: 100%;
        }
    }
}
//ipad min~air
@media screen and (max-width: 959px) and (min-width: 440px){
    .main{
        padding-top: 63px;
        a{
            font-family: Audiowide;
            height: 20px;
            display: block;
            border: #000;
            margin-left: 20px;
        }
    }
}
//smartphone
@media screen and (max-width: 439px){
    .main{
        padding-top: 63px;
        .history-back{
            text-decoration: none;
            font-weight: bold;
            color: #000;
        }
        .history-back:hover{
            color: #aaa;
        }
        .history-back:active{
            color: #aaa;
        }
    }
    .event-selector{
                
        overflow-x: scroll;
        display: flex;
        padding: 0;
        padding-left: 10px;
        border-bottom: 1px solid #000;
        .event{
            text-decoration: none;
            color: #888;
            margin: 0;
            padding-top: 10px;
            padding-left: 10px;
            padding-right: 10px;
            padding-bottom: 5px;
            white-space: nowrap;
            margin-right: 10px; /* 子要素の右側に余白を追加 */
            font-size: 12px;
            flex-shrink: 0;
            
        }
        .selected{
            color: #000;
            border-bottom: 2px solid #000;
        }
        .event:active{
            color: #aaa;
        }
    }
    .event-selector::-webkit-scrollbar{
        display: none;
    }
    .canvas-container{
        width: 100%;
        height: 80vh;
        position: relative;
        overflow-y: auto;
        #tournament{
            background-color: #eee;
            width: 100%;
            height: 100%;
        }
    }
}