#New {
  display: inline-block;
}

@media screen and (min-width: 960px) {
  .Tournament_Draw {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_Draw .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Draw .main_contents .Event {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Draw .main_contents .Event .title {
    font-size: 18px;
    font-weight: 600;
  }
  .Tournament_Draw .main_contents .Event .about {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
  }
  .Tournament_Draw .main_contents .Event .about_value {
    margin: 0 20px;
  }
  .Tournament_Draw .main_contents .Event .about_value table {
    width: 100%;
    border-collapse: collapse;
  }
  .Tournament_Draw .main_contents .Event .about_value table th, .Tournament_Draw .main_contents .Event .about_value table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:first-child, .Tournament_Draw .main_contents .Event .about_value td:first-child {
    width: 30px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(2), .Tournament_Draw .main_contents .Event .about_value td:nth-child(2) {
    width: 450px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(3), .Tournament_Draw .main_contents .Event .about_value td:nth-child(3) {
    width: 80px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(4), .Tournament_Draw .main_contents .Event .about_value td:nth-child(4) {
    width: 80px;
  }
}

@media screen and (max-width: 959px) and (min-width: 440px) {
  .Tournament_Draw {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_Draw .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Draw .main_contents .Event {
    margin: 20px 10px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Draw .main_contents .Event .title {
    font-size: 18px;
    font-weight: 600;
  }
  .Tournament_Draw .main_contents .Event .about {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
  }
  .Tournament_Draw .main_contents .Event .about_value {
    margin: 0 10px;
  }
  .Tournament_Draw .main_contents .Event .about_value table {
    width: 100%;
    border-collapse: collapse;
  }
  .Tournament_Draw .main_contents .Event .about_value table th, .Tournament_Draw .main_contents .Event .about_value table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:first-child, .Tournament_Draw .main_contents .Event .about_value td:first-child {
    width: 30px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(2), .Tournament_Draw .main_contents .Event .about_value td:nth-child(2) {
    width: 450px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(3), .Tournament_Draw .main_contents .Event .about_value td:nth-child(3) {
    width: 80px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(4), .Tournament_Draw .main_contents .Event .about_value td:nth-child(4) {
    width: 80px;
  }
}

@media screen and (max-width: 439px) {
  .Tournament_Draw {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_Draw .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Draw .main_contents .Event {
    margin: 10px 5px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_Draw .main_contents .Event .title {
    font-size: 18px;
    font-weight: 600;
  }
  .Tournament_Draw .main_contents .Event .about {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
  }
  .Tournament_Draw .main_contents .Event .about_value {
    margin: 0 5px;
  }
  .Tournament_Draw .main_contents .Event .about_value table {
    width: 100%;
    border-collapse: collapse;
  }
  .Tournament_Draw .main_contents .Event .about_value table th, .Tournament_Draw .main_contents .Event .about_value table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:first-child, .Tournament_Draw .main_contents .Event .about_value td:first-child {
    width: 30px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(2), .Tournament_Draw .main_contents .Event .about_value td:nth-child(2) {
    width: 450px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(3), .Tournament_Draw .main_contents .Event .about_value td:nth-child(3) {
    width: 80px;
  }
  .Tournament_Draw .main_contents .Event .about_value th:nth-child(4), .Tournament_Draw .main_contents .Event .about_value td:nth-child(4) {
    width: 80px;
  }
}
