
@media screen and (min-width: 960px) {
    .Tournament_edit_Event{
        width: 100%;
        color: rgba(0, 0, 0, 0.7);
        
        .page_title{
            padding: 10px 20px;
            font-size: 16px;
            font-weight: 600;
            background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
        }
        .main_contents{

            .Event_information{
                margin: 20px;
                padding: 20px 10px;    
                background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
                
                .title_wrap{
                    display: flex;

                    .sub_title{
                        margin: 0 10px;
                        font-size: 20px;
                        font-weight: 600;
                    }
                }
                .wrap{
                    margin: 10px;

                    .block{
                        margin: 2.5px;
                        padding: 2.5px 10px;

                        .submit_wrap{
                            display: flex;
                            justify-content: flex-end;
                            margin: 20px 30px 10px 30px;

                            input[type='submit']{
                                padding: 10px 20px;
                                border-radius: 5px;
                                border: 1px solid #000;
                                cursor: pointer;
                            }
                        }
                        .about{
                            font-size: 16px;
                            font-weight: 600;
                            padding: 5px 0;
                        }
                        .about_value{
                            margin: 0 20px;

                            
                            table {
                                width: 100%; 
                                border-collapse: collapse;
                            }
                            
                            table th, table td {
                                padding: 4px;
                                text-align: center;
                                border: 1px solid #ccc;
                                font-size: 12px; 
                            }
                            th:first-child, td:first-child {
                                width: 30px;
                            }
                            
                            th:nth-child(2), td:nth-child(2) {
                                width: 450px;
                            }
                            
                            th:nth-child(3), td:nth-child(3) {
                                width: 80px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 959px) and (min-width: 440px) {}
@media screen and (max-width: 439px) {}