@media screen and (min-width: 960px) {
  .Tournament_edit_Event {
    width: 100%;
    color: rgba(0, 0, 0, 0.7);
  }
  .Tournament_edit_Event .page_title {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_edit_Event .main_contents .Event_information {
    margin: 20px;
    padding: 20px 10px;
    background: linear-gradient(to bottom, #F5F5F5, #E0E0E0);
  }
  .Tournament_edit_Event .main_contents .Event_information .title_wrap {
    display: flex;
  }
  .Tournament_edit_Event .main_contents .Event_information .title_wrap .sub_title {
    margin: 0 10px;
    font-size: 20px;
    font-weight: 600;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap {
    margin: 10px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block {
    margin: 2.5px;
    padding: 2.5px 10px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .submit_wrap {
    display: flex;
    justify-content: flex-end;
    margin: 20px 30px 10px 30px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .submit_wrap input[type='submit'] {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value {
    margin: 0 20px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value table {
    width: 100%;
    border-collapse: collapse;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value table th, .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value table td {
    padding: 4px;
    text-align: center;
    border: 1px solid #ccc;
    font-size: 12px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value th:first-child, .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value td:first-child {
    width: 30px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value th:nth-child(2), .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value td:nth-child(2) {
    width: 450px;
  }
  .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value th:nth-child(3), .Tournament_edit_Event .main_contents .Event_information .wrap .block .about_value td:nth-child(3) {
    width: 80px;
  }
}
